body {
  font-family: 'Montserrat', 'sans-serif';
  background: #eee;
}

hr.separator {
  max-width: 250px;
  margin-left: 0;
  border-top: 5px solid #32b6e1 !important
}

.calories {
  max-width: 800px;
}

.day-head, .registerindex {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%) !important;
  color: #fff;
}

.registerindex input {
  margin-bottom: 20px;
}

.compact_form {
  margin-top: 100px;
  padding: 40px;
  background-color: #fff;
  max-width: 750px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input {
  border-radius: 15px !important;
}

.indexpage {
  margin: 100px 0 50px 0;
  background-color: #fff;
  max-width: 1000px;;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 39px -17px rgba(0,0,0,0.46);
}

.indexpage > .row > .col {
  padding: 40px;
}

.form-row {
  margin-bottom: 10px;
}

/* Von https://codepen.io/pirrera/pen/bqVeGx */
.btn:hover {
  background-position: right center;
}

.jumbotron {
  background: none;
}

.btn {
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  min-width: 300px;
}

.btn-light {
  color: #666;
}

.btn-primary {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  border: none;
}

.expenditure {
  font-size: 20px;
  width: 100%;
}

.expenditure-calories {
  float: right;
  color: #32b6e1;
}

.dateNavBtn {
  color: inherit;
  text-decoration: none;
}

.alert {
  margin: 3em 0 3em;
}
