#parse("/views/layout.vm")
#@mainLayout()
<div class="container-fluid">
  <div class="compact_form mx-auto">
    <h1>Login</h1>
    <hr class="separator">

    <form action="/login" method="POST">
        <div class="form-row">
          <label for="name">E-Mail</label>
          <input class="form-control" type="text" name="email"/>
        </div>

        <div class="form-row">
          <label for="unit">Passwort</label>
          <input class="form-control" type="password" name="password" />
        </div>

      <input type="submit" class="btn btn-success" value="Login" />
    </form>
  </div>
</div>
#end

